.content {
    padding: 30px 82px;
    background-color: #fffdfd;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 47%);
}

p {
    font-size: 14px;
}

.address__title {
    margin-bottom: 20px;
    color: #444;
}

.address__name-shop {
    margin: 20px 0px;
    color: #444;
}

.address__description {
    margin-bottom: 20px;
    line-height: 1.6;
}

.address__list {
    list-style-type: none;
}

.address__item {
    margin-bottom: 20px;
    font-size: 16px;
}


.address__item i {
    font-size: 23px;
    color: var(--primary-color);
    padding-right: 20px;
}

.address__item span {
    /* color: #111 */
    font-weight: bold;
    color: #333;
}

.address__span {
    margin-left: 5px;
}

.address__item a {
    text-decoration: none;
    color: var(--primary-color);
}

.form-contact {
    margin: 20px 0px;
}

.form-import {
    margin-bottom: 15px;
    width: 100%;
    height: 37px;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.input__radio-bg {
    margin-bottom: 15px;
    margin-left: 10px;
}

.input__radio-bg input {
    margin-left: 15px;
}

.content-import {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}