.main__bg {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: 75% auto;
    /* margin: 0px 82px; */
    padding: 0px 84px;
}

.content-shop {
    text-decoration: none;
    color: var(--primary-color);
}

.content {
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.tite__content {
    color: var(--primary-color);
    margin-top: 20px;
}

.content-text {
    margin-bottom: 20px;
    color: #333;
}

.content-text-more {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.content__img-bag {
    text-align: center;
}

.content__desription-img {
    width: 50%;
}


/* ---SLIDER BAR---- */