<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Css/new.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__top padding__header">
                <p class="header__top-contact">
                    Qcshop - Shop giày Sneaker chất lượng
                </p>
                <p class="time__word">
                    <i class="far fa-clock"></i>
                    08:00 - 20:00
                </p>
                <p class="header__top-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    KTX Mỹ Đình, Mỹ Đình II, Nam Từ Liêm, Hà Nội
                </p>
            </div>
            <div class="header__body padding__header">
                <a href="
                "><img src="assets/image/logo2.png" alt="" class="header__body-logo">
                </a>
                <div class="header__body-input">
                    <input class="header__body-search-input" type="text" placeholder="Tìm kiếm sản phẩm ... ">
                </div>
                <div class="header__body-search">
                    <button class="header__body-search-btn"><i class="fas fa-search"></i></button>
                </div>
                <div class="header__body-phone">
                    <i class="fas fa-phone-alt"></i>
                    <div class="header__body-phone-infor">
                        <span class="header__body-phone-infor-label">Gọi tư vấn</span>
                        <br>
                        <span class="header__body-phone-infor-number">0349 791 128</span>
                    </div>
                </div>
                <div class="header__body-cart">
                    <h5 class="header__body-cart-money">250.000 <span>đ</span></h5>
                    <i class="fas fa-shopping-cart"></i>
                    <div class="count__cart">
                        1
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="header__main">
                <ul class="header__main-list">
                    <li class="header__main-list-item header__main-list-item-home">
                        <a href="Home.html" class="header__main-list-link">Trang chủ</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="" class="header__main-list-link">Giới Thiệu</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="" class="header__main-list-link menu__product-list">Sản phẩm <i
                                class="fas fa-angle-down"></i></a>
                        <ul class="menu__product-chird-list">
                            <li class="menu__product-chird-item"><a href="">
                                    Giầy Nike
                                </a></li>
                            <li class="menu__product-chird-item"><a href="">Giầy Aridass</a></li>
                            <li class="menu__product-chird-item"><a href="">Giầy Nike</a></li>
                        </ul>
                    </li>
                    <li class="header__main-list-item">
                        <a href="" class="header__main-list-link">Bài Viết</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="contact.html" class="header__main-list-link">Liên Hệ</a>
                    </li>
                </ul>
            </div>
        </header>

        <main>
            <marquee class="info_shop" width="100%" direction="left">
                <p style="font-style: italic;">Trở lại với đường đua thời trang, Aristino mang đến thiết kế
                    sơ mi
                    trắng White Lotus gói trọn nét đẹp văn hóa truyền thống trong một thiết kế hiện đại đầy tinh
                    tế. Đây là chiếc áo không thể thiếu của quý ông trên hành trình chinh phục thành công.
                    Là một thương hiệu nội địa nhưng luôn mang trong mình giấc mơ vươn tầm thế giới, Aristino đã
                    và đang hiện thực hóa mục tiêu này bằng những bước chuyển mình cụ thể và đầy .</p>
            </marquee>
            <div class="content">
                <h2 class="content_title">TIN TỨC - MỚI NHẤT</h2>
                <div class="wrap__list-news">
                    <div class="wrap__new-item">
                        <div class="wrap__new-item-img">
                            <a href=""><img
                                    src="https://qcshop.vn/wp-content/uploads/2021/01/z2259220997754_6d94abb8a923decef1eb9853681a5945.jpg"
                                    alt=""></a>
                            <div class="news_infor-date">
                                <h3 class="news_infor-day">18</h3>
                                <h4 class="news_infor-month">THG 06</h4>
                            </div>
                        </div>
                        <h4 class="news__title">3 đôi giày sneaker HOT 2021 ai cũng nên sở hữu</h4>
                        <p>Mặc dù hiện tại đại dịch Covid trên toàn cầu vẫn đang lây lan rất phức tạp nhưng các
                            thương...</p>
                    </div>
                    <div class="wrap__new-item">
                        <div class="wrap__new-item-img">
                            <a href=""><img
                                    src="https://qcshop.vn/wp-content/uploads/2021/01/Gi%C3%A0y-sneaker-nike-air-force-tr%E1%BA%AFng-%C4%91%E1%BA%BF-xanh-300x300.jpg"
                                    alt=""></a>
                            <div class="news_infor-date">
                                <h3 class="news_infor-day">18</h3>
                                <h4 class="news_infor-month">THG 06</h4>
                            </div>
                        </div>
                        <h4 class="news__title">3 đôi giày sneaker HOT 2021 ai cũng nên sở hữu</h4>
                        <p>Mặc dù hiện tại đại dịch Covid trên toàn cầu vẫn đang lây lan rất phức tạp nhưng các
                            thương...</p>
                    </div>
                    <div class="wrap__new-item">
                        <div class="wrap__new-item-img">
                            <a href=""><img src="https://qcshop.vn/wp-content/uploads/2018/08/eqt_post.jpg" alt=""></a>
                            <div class="news_infor-date">
                                <h3 class="news_infor-day">18</h3>
                                <h4 class="news_infor-month">THG 06</h4>
                            </div>
                        </div>
                        <h4 class="news__title">3 đôi giày sneaker HOT 2021 ai cũng nên sở hữu</h4>
                        <p>Mặc dù hiện tại đại dịch Covid trên toàn cầu vẫn đang lây lan rất phức tạp nhưng các
                            thương...</p>
                    </div>
                    <div class="wrap__new-item">
                        <div class="wrap__new-item-img">
                            <a href=""><img
                                    src="https://qcshop.vn/wp-content/uploads/2021/01/Gi%C3%A0y-adidas-alphabounce-300x300.jpg"
                                    alt=""></a>
                            <div class="news_infor-date">
                                <h3 class="news_infor-day">18</h3>
                                <h4 class="news_infor-month">THG 06</h4>
                            </div>
                        </div>
                        <h4 class="news__title">3 đôi giày sneaker HOT 2021 ai cũng nên sở hữu</h4>
                        <p>Mặc dù hiện tại đại dịch Covid trên toàn cầu vẫn đang lây lan rất phức tạp nhưng các
                            thương...</p>
                    </div>
                    <div class="wrap__new-item">
                        <div class="wrap__new-item-img">
                            <a href=""><img src="https://qcshop.vn/wp-content/uploads/2018/08/snk-300x300.jpg"
                                    alt=""></a>
                            <div class="news_infor-date">
                                <h3 class="news_infor-day">18</h3>
                                <h4 class="news_infor-month">THG 06</h4>
                            </div>
                        </div>
                        <h4 class="news__title">3 đôi giày sneaker HOT 2021 ai cũng nên sở hữu</h4>
                        <p>Mặc dù hiện tại đại dịch Covid trên toàn cầu vẫn đang lây lan rất phức tạp nhưng các
                            thương...</p>
                    </div>
                    <div class="wrap__new-item">
                        <div class="wrap__new-item-img">
                            <a href=""><img src="https://qcshop.vn/wp-content/uploads/2021/01/Nike-hoa-c%C3%BAc.jpg"
                                    alt=""></a>
                            <div class="news_infor-date">
                                <h3 class="news_infor-day">18</h3>
                                <h4 class="news_infor-month">THG 06</h4>
                            </div>
                        </div>
                        <h4 class="news__title">3 đôi giày sneaker HOT 2021 ai cũng nên sở hữu</h4>
                        <p>Mặc dù hiện tại đại dịch Covid trên toàn cầu vẫn đang lây lan rất phức tạp nhưng các
                            thương...</p>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__main padding__header">
                <div class="footer__infor">
                    <h3 class="footer__title">Về chúng tôi</h3>
                    <p class="footer__infor-text footer__top">
                        Qcshop là cửa hàng chuyên cung cấp giày Sneaker nam nữ cho tất cả các bạn trẻ.Chúng tôi sẽ liên
                        tục
                        cập nhật những sản phẩm mới nhất, chất lượng nhất, hợp thời nhất giúp các bạn có những trải
                        nghiệm
                        tuyệt vời!
                    </p>
                </div>
                <div class="footer__policy">
                    <h3 class="footer__title">Chính sách cửa hàng</h3>
                    <ul class="footer__policy-list footer__top">
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Hưỡng dẫn đặt hàng</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Thanh toán & vận chuyển</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Bảo hành & đổi trả</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Cách chọn size giầy</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Dánh giá của khách hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__social-phone">
                    <h3 class="footer__title">Hotline liên hệ</h3>
                    <div class="footer__phone footer__top">
                        <img src="assets/image/phone_top.png" alt="">
                        <div class="footer__phone-nunber">
                            <h4 class="footer__phone-detail">092 439 17 75</h4>
                            <p class="footer__phone-note">(Tất cả các ngày trong tuần)</p>
                        </div>
                    </div>
                    <div class="footer__social-bag">
                        <h3 class="footer__title">Kết nối với chúng tôi</h3>
                        <ul class="footer__social-list">
                            <li class="footer__social-list-item"><a style="background-color: #0652DD;" href=""
                                    class="footer__social-list-link"><i class="fab fa-facebook-square"></i></a></li>
                            <li class="footer__social-list-item"><a style="background-color: #2f3542;" href=""
                                    class="footer__social-list-link"><i class="fas fa-envelope"></i></a></li>
                            <li class="footer__social-list-item"><a style="background-color: #20bf6b;" href=""
                                    class="footer__social-list-link"><i class="fas fa-phone-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__mag">
                    <h3 class="footer__title ">Địa chỉ của shop</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.6961421738133!2d105.78780050010187!3d20.613499943837855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313433272518ce69%3A0x801ec3badbb117f5!2zSMawxqFuZyBTxqFuLCBN4bu5IMSQ4bupYywgSGFub2ksIFZpZXRuYW0!5e1!3m2!1sen!2s!4v1629860344352!5m2!1sen!2s"
                        width="270" class="footer__top" height="200" style="border:0;" allowfullscreen=""
                        loading="lazy"></iframe>
                </div>
            </div>
            <div class="footer__sub">
                <p class="footer__sub-text">Copyright © 2021 by Qcshop. All Rights Reserved.</p>
            </div>
        </footer>
    </div>

    <div id="backTop">
        <i class="fas fa-arrow-up"></i>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('#backTop').fadeIn();
            } else {
                $('#backTop').fadeOut();
            }
        });
        $('#backTop').click(function () {
            $('html , body').animate({
                scrollTop: 0
            }, 300);
        });
    });
</script>

</html>