<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Css/pay.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__top padding__header">
                <p class="header__top-contact">
                    Qcshop - Shop giày Sneaker chất lượng
                </p>
                <p class="time__word">
                    <i class="far fa-clock"></i>
                    08:00 - 20:00
                </p>
                <p class="header__top-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    KTX Mỹ Đình, Mỹ Đình II, Nam Từ Liêm, Hà Nội
                </p>
            </div>
            <div class="header__body padding__header">
                <a href="
                "><img src="assets/image/logo2.png" alt="" class="header__body-logo">
                </a>
                <div class="header__body-input">
                    <input class="header__body-search-input" type="text" placeholder="Tìm kiếm sản phẩm ... ">
                </div>
                <div class="header__body-search">
                    <button class="header__body-search-btn"><i class="fas fa-search"></i></button>
                </div>
                <div class="header__body-phone">
                    <i class="fas fa-phone-alt"></i>
                    <div class="header__body-phone-infor">
                        <span class="header__body-phone-infor-label">Gọi tư vấn</span>
                        <br>
                        <span class="header__body-phone-infor-number">0349 791 128</span>
                    </div>
                </div>
                <a href="" class="header__body-cart" style="text-decoration: none;">
                    <h5 class="header__body-cart-money">250.000 <span>đ</span></h5>
                    <i class="fas fa-shopping-cart"></i>
                    <div class="count__cart">
                        1
                    </div>
                </a>
            </div>
            <!--  -->
            <div class="header__main">
                <ul class="header__main-list">
                    <li class="header__main-list-item header__main-list-item-home">
                        <a href="Home.html" class="header__main-list-link">Trang chủ</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="desription.html" class="header__main-list-link">Giới Thiệu</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="product.html" class="header__main-list-link menu__product-list">Sản phẩm <i
                                class="fas fa-angle-down"></i></a>
                        <ul class="menu__product-chird-list">
                            <li class="menu__product-chird-item"><a href="">
                                    Giầy Nike
                                </a></li>
                            <li class="menu__product-chird-item"><a href="">Giầy Aridass</a></li>
                            <li class="menu__product-chird-item"><a href="">Giầy Nike</a></li>
                        </ul>
                    </li>
                    <li class="header__main-list-item">
                        <a href="news.html" class="header__main-list-link">Bài Viết</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="contact.html" class="header__main-list-link">Liên Hệ</a>
                    </li>
                </ul>
                <ul class="info-user">
                    <li><a href=""> <img class="img_user" src="assets/image/unnamed.jpg" alt=""></a></li>
                    <li><a href="">Uy Nguyễn</a></li>
                    <li><a href="">| Đăng xuất</a></li>
                </ul>
            </div>
        </header>

        <!-- CONTENT -->
        <div class="content-body">
            <section class="main__header">
                <ul class="page__present">
                    <li class="page__present-item"><a class="primary-color" href="">Giỏ hàng</a><i
                            class="fas fa-chevron-right"></i></li>
                    <li class="page__present-item"><a class="back-color" href="">Thanh Toán</a><i
                            class="fas fa-chevron-right"></i></li>

                    <li class="page__present-item"><a class="primary-color" href="">Hoàn tất</a></li>
                </ul>
            </section>
            <main class="padding__header">
                <form action="" class="container-pay">
                    <session class="form-pay-bg">
                        <h2>Thông tin thanh toán</h3>
                            <div class="form-pay">
                                <div class="input-bg">
                                    <input type="text" placeholder="Họ tên của bạn">
                                </div>
                                <div class="input-bg">
                                    <input type="email" placeholder="Email của bạn">
                                </div>
                                <div class="input-bg">
                                    <input type="text" placeholder="Địa chỉ : vd : -Hương Sơn - Mỹ Đức - Hà Nội">
                                </div>
                                <div class="input-bg">
                                    <input type="text" placeholder="Số điện thoại">
                                </div>
                                <div class="input-bg">
                                    <select name="" id="">
                                        <option selected value="">Địa chỉ cụ thể</option>
                                        <option value="0">Nhà riêng</option>
                                        <option value="0">Văn phòng</option>
                                    </select>
                                    <select name="" id="">
                                        <option selected value="">Hình thức</option>
                                        <option value="0">Thanh toán tại nhà</option>
                                        <option value="0">Thanh toán qua thẻ</option>
                                    </select>
                                </div>
                                <div class="input-bg">
                                    <h5>Ghi chú đặt hàng (Tùy chọn)</h5>
                                    <textarea name="" id="" class="input-note"
                                        placeholder="Ghi chú về đơn hàng"></textarea>
                                </div>
                            </div>
                    </session>
                    <section class="info-receipt-bg">
                        <div class="receipt-bg">
                            <h3>Đơn hàng của bạn</h3>
                            <table class="table">
                                <thead>
                                    <tr class="th-bg">
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Tạm tính</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="td-bg">
                                        <td scope="row">Giày Nike Air Force 1 ID Gucci x <span
                                                class="name-size">38</span></td>
                                        <td>250.000</td>
                                    </tr>
                                    <tr class="td-bg">
                                        <td scope="row">Giày Nike Air Force 1 ID Gucci x <span
                                                class="name-size">38</span></td>
                                        <td>250.000</td>
                                    </tr>
                                    <tr class="td-bg">
                                        <td scope="row">Giày Nike Air Force 1 ID Gucci x <span
                                                class="name-size">38</span></td>
                                        <td>250.000</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="sumMoney">Tổng tiền : <span>3.500.000</span></h3>
                            <h4 class="pay-home">Trả tiền mặt khi nhận hàng</h4>
                            <p class="note-pay">Sau khi quý khách đặt hàng. Chúng tôi sẽ gửi thông tin đơn hàng qua
                                Email và gọi điện xác
                                nhận
                                đơn hàng. Sau đó sẽ tiến hành vận chuyển hàng. Quý khách thanh toán khi nhận được hàng
                            </p>
                            <div class="input-sale">
                                <input type="text" placeholder="Mã giảm giá :  VD - 234578">
                            </div>
                            <button class="btn__pay" type="submit">Thanh toán</button>
                        </div>
                    </section>
                </form>
            </main>
        </div>

        <footer class="footer">
            <div class="footer__main padding__header">
                <div class="footer__infor">
                    <h3 class="footer__title">Về chúng tôi</h3>
                    <p class="footer__infor-text footer__top">
                        Qcshop là cửa hàng chuyên cung cấp giày Sneaker nam nữ cho tất cả các bạn trẻ.Chúng tôi sẽ liên
                        tục
                        cập nhật những sản phẩm mới nhất, chất lượng nhất, hợp thời nhất giúp các bạn có những trải
                        nghiệm
                        tuyệt vời!
                    </p>
                </div>
                <div class="footer__policy">
                    <h3 class="footer__title">Chính sách cửa hàng</h3>
                    <ul class="footer__policy-list footer__top">
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Hưỡng dẫn đặt hàng</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Thanh toán & vận chuyển</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Bảo hành & đổi trả</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Cách chọn size giầy</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Dánh giá của khách hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__social-phone">
                    <h3 class="footer__title">Hotline liên hệ</h3>
                    <div class="footer__phone footer__top">
                        <img src="assets/image/phone_top.png" alt="">
                        <div class="footer__phone-nunber">
                            <h4 class="footer__phone-detail">092 439 17 75</h4>
                            <p class="footer__phone-note">(Tất cả các ngày trong tuần)</p>
                        </div>
                    </div>
                    <div class="footer__social-bag">
                        <h3 class="footer__title">Kết nối với chúng tôi</h3>
                        <ul class="footer__social-list">
                            <li class="footer__social-list-item"><a style="background-color: #0652DD;" href=""
                                    class="footer__social-list-link"><i class="fab fa-facebook-square"></i></a></li>
                            <li class="footer__social-list-item"><a style="background-color: #2f3542;" href=""
                                    class="footer__social-list-link"><i class="fas fa-envelope"></i></a></li>
                            <li class="footer__social-list-item"><a style="background-color: #20bf6b;" href=""
                                    class="footer__social-list-link"><i class="fas fa-phone-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__mag">
                    <h3 class="footer__title ">Địa chỉ của shop</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.6961421738133!2d105.78780050010187!3d20.613499943837855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313433272518ce69%3A0x801ec3badbb117f5!2zSMawxqFuZyBTxqFuLCBN4bu5IMSQ4bupYywgSGFub2ksIFZpZXRuYW0!5e1!3m2!1sen!2s!4v1629860344352!5m2!1sen!2s"
                        width="270" class="footer__top" height="200" style="border:0;" allowfullscreen=""
                        loading="lazy"></iframe>
                </div>
            </div>
            <div class="footer__sub">
                <p class="footer__sub-text">Copyright © 2021 by Qcshop. All Rights Reserved.</p>
            </div>
        </footer>
    </div>

    <div id="backTop">
        <i class="fas fa-arrow-up"></i>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('#backTop').fadeIn();
            } else {
                $('#backTop').fadeOut();
            }
        });
        $('#backTop').click(function () {
            $('html , body').animate({
                scrollTop: 0
            }, 300);
        });
    });
</script>

</html>