<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Css/productDetail.css">
    <link rel="stylesheet" href="Css/sliderbar.css">
    <link rel="stylesheet" href="Css/tab.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__top padding__header">
                <p class="header__top-contact">
                    Qcshop - Shop giày Sneaker chất lượng
                </p>
                <p class="time__word">
                    <i class="far fa-clock"></i>
                    08:00 - 20:00
                </p>
                <p class="header__top-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    KTX Mỹ Đình, Mỹ Đình II, Nam Từ Liêm, Hà Nội
                </p>
            </div>
            <div class="header__body padding__header">
                <a href="
                "><img src="assets/image/logo2.png" alt="" class="header__body-logo">
                </a>
                <div class="header__body-input">
                    <input class="header__body-search-input" type="text" placeholder="Tìm kiếm sản phẩm ... ">
                </div>
                <div class="header__body-search">
                    <button class="header__body-search-btn"><i class="fas fa-search"></i></button>
                </div>
                <div class="header__body-phone">
                    <i class="fas fa-phone-alt"></i>
                    <div class="header__body-phone-infor">
                        <span class="header__body-phone-infor-label">Gọi tư vấn</span>
                        <br>
                        <span class="header__body-phone-infor-number">0349 791 128</span>
                    </div>
                </div>
                <div class="header__body-cart">
                    <h5 class="header__body-cart-money">250.000 <span>đ</span></h5>
                    <i class="fas fa-shopping-cart"></i>
                    <div class="count__cart">
                        1
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="header__main">
                <ul class="header__main-list">
                    <li class="header__main-list-item header__main-list-item-home">
                        <a href="Home.html" class="header__main-list-link">Trang chủ</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="desription.html" class="header__main-list-link">Giới Thiệu</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="product.html" class="header__main-list-link menu__product-list">Sản phẩm <i
                                class="fas fa-angle-down"></i></a>
                        <ul class="menu__product-chird-list">
                            <li class="menu__product-chird-item"><a href="">
                                    Giầy Nike
                                </a></li>
                            <li class="menu__product-chird-item"><a href="">Giầy Aridass</a></li>
                            <li class="menu__product-chird-item"><a href="">Giầy Nike</a></li>
                        </ul>
                    </li>
                    <li class="header__main-list-item">
                        <a href="news.html" class="header__main-list-link">Bài Viết</a>
                    </li>
                    <li class="header__main-list-item">
                        <a href="contact.html" class="header__main-list-link">Liên Hệ</a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- Content -->
        <main class="content-bg">
            <div class="content">
                <section class="product__info-bg">
                    <div class="product__detail">
                        <div class="product__img-bg">
                            <div class="product__img-big">
                                <img class="product__img" src="assets/image/Giay-Puma-Full-Trang.jpg" alt="">
                            </div>
                            <div class="product_img-sub">
                                <div class="images">
                                    <img src="https://images.unsplash.com/photo-1442850473887-0fb77cd0b337?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                                        alt="Mẫu 1" />
                                    <img src="https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                                        alt="Mẫu 2" />
                                    <img src="https://images.unsplash.com/photo-1482192505345-5655af888cc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80"
                                        alt="Mẫu 3" />
                                    <img src="https://images.unsplash.com/photo-1446329813274-7c9036bd9a1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                                        alt="Mẫu 4" />
                                </div>
                                <div class="modal">
                                    <span class="close"><i class="fas fa-times"></i></span>
                                    <div class="modalContent">
                                        <img src="" class="modalImg" />
                                        <span class="modalTxt"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__info-bg">
                            <ul class="product__link-list">
                                <li class="product__link-item"><a href="">Trang chủ</a> /</li>
                                <li class="product__link-item"><a href="">Sản phẩm</a> /</li>
                                <li class="product__link-item"><a href="">Giầy nike</a> /</li>
                                <li class="product__link-item"><a href="">Nike Air Force</a></li>
                            </ul>
                            <h2 class="product__name">Giày Nike Air Force 1 Low (Đặc biệt)</h2>
                            <div class="product__price">
                                <h3 class="price__sale">1.250.000 <span class="d">đ</span></h3>
                                <h2 class="price__main">1.150.000 <span class="d">đ</span></h2>
                                <span class="free__ship">( Miễn phí giao hàng )</span>
                            </div>
                            <p class="product__description">
                                ✓ Hàng: Replica 1
                                <br>
                                ✓ Ảnh sản phẩm chụp trực tiếp
                                <br>
                                ✓ Miễn phí ship hoàn toàn tất cả các sản phẩm, tất cả các tỉnh thành
                                <br>
                                ✓ Nhận hàng sau 1 – 3 ngày kể từ ngày đặt hàng
                                <br>
                                ✓ Nội thành Hà Nội nhận hàng trong 12 giờ
                                <br>
                                ✓ Shop cam kết chất lượng của sản phẩm tương đương với số tiền bạn bỏ ra
                                <br>
                                ✓ Nhận hàng và kiểm tra trước khi thanh toán
                                <br>
                                ✓ Shop cam kết đổi mới hoàn toàn sản phẩm nếu lỗi do sản xuất: bong keo, sứt chỉ,
                                <br>
                                xước…(phí ship 2 chiều Shop chịu hoàn toàn)
                                ✓ Shop cam kết hoàn tiền 110% nếu như sản phẩm không làm khách hàng hài lòng
                                <br>
                            </p>
                            <span class="product__choose-size">Chọn size</span>
                            <form action="">
                                <div class="product__size-radio">
                                    <input type="radio" class="input2" name="size" id="size_one">
                                    <label class="label2" for="size_one">39</label>
                                    <input type="radio" class="input2" name="size" id="size_two">
                                    <label class="label2" for="size_two">40</label>
                                    <input type="radio" class="input2" name="size" id="size_three">
                                    <label class="label2" for="size_three">41</label>
                                    <input type="radio" class="input2" name="size" id="size_four">
                                    <label class="label2" for="size_four">42</label>
                                </div>
                                <div class="product__input-number">
                                    <input value="1" class="input-number" type="number">
                                </div>
                                <button class="btn-add-cart">Thêm vào giỏ hàng</button>
                            </form>
                            <div class="contact-social">
                                <a class="mess mess__face" href="">Chat facebook</a>
                                <a class="mess mess__zalo" href="">Chat Zalo </a>
                            </div>
                        </div>
                    </div>
                    <div class="product_tab">
                        <div class="tab">
                            <button id="defaultOpen" class="tablinks tablinks__sub"
                                onclick="openCity(event, 'London')">Liên
                                quan</button>
                            <button class="tablinks" onclick="openCity(event, 'Paris')">Bình luận</button>
                        </div>

                        <div id="London" class="tabcontent">
                            <ul class="product__footer">
                                <li class="product__footer-item">
                                    <a href="">
                                        <img src="assets/image/Giay-Nike-Air-Force-1-Low-07-Light-Amory-Blue-1536x1536.jpg"
                                            alt="">
                                    </a>
                                    <p>Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</p>
                                    <div class="product__hot-list-infor-price">
                                        <bdo dir="ltr">850.000₫</bdo>
                                        <span>550.000₫</span>
                                    </div>
                                </li>
                                <li class="product__footer-item">
                                    <a href="">
                                        <img src="assets/image/Giay-Nike-Air-Force-1-Low-07-Light-Amory-Blue-1536x1536.jpg"
                                            alt="">
                                    </a>
                                    <p>Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</p>
                                    <div class="product__hot-list-infor-price">
                                        <bdo dir="ltr">850.000₫</bdo>
                                        <span>550.000₫</span>
                                    </div>
                                </li>
                                <li class="product__footer-item">
                                    <a href="">
                                        <img src="assets/image/Giay-Nike-Air-Force-1-Low-07-Light-Amory-Blue-1536x1536.jpg"
                                            alt="">
                                    </a>
                                    <p>Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</p>
                                    <div class="product__hot-list-infor-price">
                                        <bdo dir="ltr">850.000₫</bdo>
                                        <span>550.000₫</span>
                                    </div>
                                </li>
                                <li class="product__footer-item">
                                    <a href="">
                                        <img src="assets/image/Giay-Nike-Air-Force-1-Low-07-Light-Amory-Blue-1536x1536.jpg"
                                            alt="">
                                    </a>
                                    <p>Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</p>
                                    <div class="product__hot-list-infor-price">
                                        <bdo dir="ltr">850.000₫</bdo>
                                        <span>550.000₫</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div id="Paris" class="tabcontent">
                            <div class="info_user">
                                <img src="assets/image/unnamed.jpg" alt="">
                                <div class="info_user-detail">
                                    <h4>Uy Nguyễn</h4>
                                    <span>uynnph15055@fpt.edu.vn</span>
                                </div>
                            </div>
                            <div class="stars">
                                <form action="luu-danh-gia" method="POST">
                                    <div class="star-bg">
                                        <input type="text" hidden name="subject_id" value="{{$subject_id}}">
                                        <input class="star star-5 input" value="1" id="star-5" type="radio"
                                            name="star[]" />
                                        <label class="star star-5 label" for="star-5"></label>
                                        <input class="star star-4 input" value="2" id="star-4" type="radio"
                                            name="star[]" />
                                        <label class="star star-4 label" for="star-4"></label>
                                        <input class="star star-3 input" value="3" id="star-3" type="radio"
                                            name="star[]" />
                                        <label class="star star-3 label" for="star-3"></label>
                                        <input class="star star-2 input" value="4" id="star-2" type="radio"
                                            name="star[]" />
                                        <label class="star star-2 label" for="star-2"></label>
                                        <input class="star star-1 input" value="5" id="star-1" type="radio"
                                            name="star[]" />
                                        <label class="star star-1 label" for="star-1"></label>
                                    </div>
                                    <textarea class="feedback-container" id="" cols="30" style="font-size: 20px;"
                                        rows="10" name="content_assess">
                                        </textarea>
                                    <div class="btn-feedback">
                                        <button class="btn-primary">
                                            Gửi đánh giá
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="product__relate">
                    <ul class="product__relate-list">
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                        <li class="product__relate-item">
                            <div class="product__relate-img-bg">
                                <a href=""><img class="product__relate-img"
                                        src="assets/image/Adidas-Ultraboost-Hong-1536x1536.jpg" alt=""></a>
                            </div>
                            <div class="product__relate-infor-bg">
                                <span class="product__relate-name"><a class="product__relate-name-a" href="">Giày Nike
                                        Air Force 1 Low (Đặc
                                        biệt)</a></span>
                                <div class="product__hot-list-infor-price">
                                    <bdo dir="ltr">850.000₫</bdo>
                                    <span>550.000₫</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__main padding__header">
                <div class="footer__infor">
                    <h3 class="footer__title">Về chúng tôi</h3>
                    <p class="footer__infor-text footer__top">
                        Qcshop là cửa hàng chuyên cung cấp giày Sneaker nam nữ cho tất cả các bạn trẻ.Chúng tôi sẽ liên
                        tục
                        cập nhật những sản phẩm mới nhất, chất lượng nhất, hợp thời nhất giúp các bạn có những trải
                        nghiệm
                        tuyệt vời!
                    </p>
                </div>
                <div class="footer__policy">
                    <h3 class="footer__title">Chính sách cửa hàng</h3>
                    <ul class="footer__policy-list footer__top">
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Hưỡng dẫn đặt hàng</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Thanh toán & vận chuyển</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Bảo hành & đổi trả</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Cách chọn size giầy</a>
                        </li>
                        <li class="footer__policy-list-item">
                            <a href="" class="footer__policy-list-item-link">Dánh giá của khách hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__social-phone">
                    <h3 class="footer__title">Hotline liên hệ</h3>
                    <div class="footer__phone footer__top">
                        <img src="assets/image/phone_top.png" alt="">
                        <div class="footer__phone-nunber">
                            <h4 class="footer__phone-detail">092 439 17 75</h4>
                            <p class="footer__phone-note">(Tất cả các ngày trong tuần)</p>
                        </div>
                    </div>
                    <div class="footer__social-bag">
                        <h3 class="footer__title">Kết nối với chúng tôi</h3>
                        <ul class="footer__social-list">
                            <li class="footer__social-list-item"><a style="background-color: #0652DD;" href=""
                                    class="footer__social-list-link"><i class="fab fa-facebook-square"></i></a></li>
                            <li class="footer__social-list-item"><a style="background-color: #2f3542;" href=""
                                    class="footer__social-list-link"><i class="fas fa-envelope"></i></a></li>
                            <li class="footer__social-list-item"><a style="background-color: #20bf6b;" href=""
                                    class="footer__social-list-link"><i class="fas fa-phone-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__mag">
                    <h3 class="footer__title ">Địa chỉ của shop</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.6961421738133!2d105.78780050010187!3d20.613499943837855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313433272518ce69%3A0x801ec3badbb117f5!2zSMawxqFuZyBTxqFuLCBN4bu5IMSQ4bupYywgSGFub2ksIFZpZXRuYW0!5e1!3m2!1sen!2s!4v1629860344352!5m2!1sen!2s"
                        width="270" class="footer__top" height="200" style="border:0;" allowfullscreen=""
                        loading="lazy"></iframe>
                </div>
            </div>
            <div class="footer__sub">
                <p class="footer__sub-text">Copyright © 2021 by Qcshop. All Rights Reserved.</p>
            </div>
        </footer>
    </div>

    <div id="backTop">
        <i class="fas fa-arrow-up"></i>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="assets/js/tab.js"></script>
<script src="assets/js/modalPictrure.js"></script>

<!-- Initialize Swiper -->
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('#backTop').fadeIn();
            } else {
                $('#backTop').fadeOut();
            }
        });
        $('#backTop').click(function () {
            $('html , body').animate({
                scrollTop: 0
            }, 300);
        });

        // $(window).scroll(function () {
        //     if ($(this).scrollTop()) {
        //         $('header').addClass('header__sub');
        //         $('header__sub').css("transition", "ease-in-out 0.6s");
        //     } else {
        //         $('header').removeClass('header__sub');
        //     }
        // });
    });
</script>

</html>